.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
}

.content {
    background-color: rgb(215, 182, 128);
    border: 2px solid rgb(255, 242, 2);
    padding: 16px;
    height: 100%;
}

body {
    background-image: url('../DB217-main/Chapter2/wallpapersden.com_cool-red-mountains-4k_1920x1080.jpg');
}   